<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="git"/>
  <package id="sysinternals"/>
  <package id="hwinfo"/>
  <package id="processhacker"/>
  <package id="powershell-core"/>
  <package id="docker-desktop"/>
  <package id="vscode"/>
  <package id="vscode-gitignore"/>
  <package id="vscode-python"/>
  <package id="vscode-pylance"/>
  <package id="vscode-python-test-adapter"/>
  <package id="vscode-yaml"/>
  <package id="vscode-drawio"/>
  <package id="vscode-gitattributes"/>
  <package id="vscode-remote-development"/>
  <package id="vscode-test-explorer"/>
  <package id="vscode-test-explorer-status-bar"/>
  <packege id="vscode-powershell"/>
  <package id="vscode-gitlens"/>
  <package id="vscode-markdown-all-in-one"/>
  <package id="vscode-terraform"/>
  <package id="vscode-docker"/>
  <package id="vscode-kubernetes-tools"/>
  <package id="mambaforge"/>
  <package id="pandoc"/>
  <package id="ffmpeg"/>
  <package id="gource"/>
  <package id="logstalgia"/>
  <package id="brave"/>
  <package id="terraform"/>
  <package id="awscli"/>
  <package id="awssamcli"/>
  <package id="awscli-session-manager"/>
  <package id="keeweb"/>
  <package id="openlens"/>
  <package id="obsidian"/>
  <package id="sharex"/>
</packages>
