<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Fundamentals -->
  <package id="7zip"/>
  <package id="keeweb"/>
  <package id="powershell-core"/>
  <package id="terraform"/>
  <package id="git"/>
  <package id="vscode"/>
  <package id="gource"/>
  <package id="logstalgia"/>
  <package id="brave"/>
  <package id="python3" version="3.10.11"/>
  <!-- Documentation -->
  <package id="pandoc"/>
  <package id="ffmpeg"/>
  <!-- AWS -->
  <package id="awscli"/>
  <package id="awssamcli"/>
  <package id="awscli-session-manager"/>
  <!-- Azure -->
  <package id="azure-cli"/>
  <package id="microsoftazurestorageexplorer"/>
  <package id="azure-data-studio-sql-server-admin-pack"/>
  <!-- Windows Subsystem for Linux 2-->
  <!-- <package id="wsl2"/> -->
  <!-- <package id="wsl-ubuntu-2204"/> -->
  <!-- Container -->
  <package id="docker-desktop"/>
  <!-- Kubernetes -->
  <package id="openlens"/>
  <package id="kubernetes-cli"/>
  <package id="kubelogin"/>
  <package id="azure-kubelogin"/>
  <!-- PowerUser -->
  <package id="sysinternals"/>
  <package id="hwinfo"/>
  <package id="processhacker"/>
  <package id="mambaforge"/>
  <package id="obsidian"/>
  <package id="sharex"/>
  <package id="plantuml"/>
</packages>
